a {
    text-decoration: none;
}

.navbar.fixed-top.navbar-expand-lg {
    background-color: #43776e;
}

.navbar-brand.mb-0.h1
{
    color: white;
}

.nav-link.dropdown-toggle {
    background-color: #fba094;
    font-weight: bold;
}

/* .navbar-brand.mb-0.h1 {
    font-size: 30px;
} */

#logo {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 70px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 100px;
}

.row {
    padding-top: 5%;
    padding-bottom: 2%;
}

#projectStoryCont {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e2eef0;
    text-align: center;
    width: 75%;
    margin: auto;
    color: #616a72;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

#projectStoryTitle {
    color: #616a72;
    margin-bottom: 20px;
    font-family: 'Limelight', cursive;
}

.navbar.fixed-bottom {
    background-color: #7d7d7d;
}

#probSecTitle, 
#audSecTitle, 
#rolResSecTitle,
#scoConsSecTitle,
#processSecTitle,
#probIdentSecTitle,
#findingsSecTitle
{
    color: white;
    background-color: #55837c;
    width: 35%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

.accordion-button {
    background-color: #ffebe8;
}

.accordion-button:active {
    background-color: #ffd1c8;
}

p {
    font-family: 'Roboto', sans-serif;
}

#paragraphList {
    margin-left: 3%;
    margin-right: 3%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* width: 100%; */
    /* text-align: center; */
}

table {
    background-color: rgb(255, 249, 249);
    /* max-width: 80%;
    margin-left: auto;
    margin-right: auto; */
}

#annotations {
    font-style: italic;
    font-size: 10px;
}

#subSecTitles {
    background-color:#ffbfb3;
    padding: 3px;
}

#scopeConstImg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

#personaTable {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}

#personas {
    max-width: 400px;
}

#userStoriesSpecialSection,
#usaHeuSpecialSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#userStoriesTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#userStoriesImg {
    width: 270px;
}

#usaHeuTable {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#usaHeuImg {
    width: 270px;
}

/* #processSubSec {
    background-color: #ffefec;
} */

#processSubSec:hover {
    background-color: #ffdbd5;
}

#footer {
    font-size: 12px;
    color: white;
}